extends structure/_layout
append head
    title My Index
block content
    main
        .container-80
            .row
                #galaxy-carousel.galaxy-carousel-container
                    .galaxy-item
                    .galaxy-item
                    .galaxy-item
                    .galaxy-item
block scripts
