extends structure/_layout
append head
    title My Index
block content
    main
        .container-80
            .row
                #carousel.carousel-container
                    .item.active
                    .item
                    .item
                    .item

                    #next
                    #prev
block scripts
